.intro{  /*  Sirve para dar un tamaño al div de la presentacion */
    background-color: powderblue;
    width: 485px;
    height: 550px;
    float: left;
    position: absolute;
}
#logo{ /* Sirve para la posición de la foto*/ 
    left: 125px;
    top: 150px;  
    position: relative;  
}
.presentacion{/* Posicionamos el tema a la derecha de los datos */
    position: absolute;
    right: 490px;
    height: 670px;
}
.intro p{
    position: relative;
    font-weight: bold;
    padding: 25px;
    top: 150px;   
}
#desa{        /* Se posiciona debajo de la introduccion el desarrollo de la página */
    position: relative;
    top: 600px;
    padding: 10px;
}
.body{
    background-color: lemonchiffon;
}
